extends layout

block content
    title=title
    include navbar
    p email = #{email}
    p display_name = #{display_name}
    p description = #{description}
    img.img-circle(src='#{pic_path}', width=160, height=160)
    script.
        document.getElementsByClassName("navbar-brand")[0].setAttribute("href", window.location.origin + "/dashboard?ticket=" + sessionStorage.ticket);


