<% include ../partials/head %>

<% include ../partials/nav_logged_in %>


<body>

<div class="container-fluid">
	<div class="row">
		<!-- USER PROFILE -->
		<div class="col-sm-3 col-md-3 sidebar">
			<!--<div class="col-xs-6 col-sm-3 placeholder">-->
			<!--<img data-src="" class="img-responsive" alt="Profile picture thumbnail">-->
			<!--</div>-->
			<h1>Profile<small><a id="edit-user" href="/user/<%= email %>/edit" style="cursor:pointer;">&nbsp Edit</a></small></h1>
			<div class="thumbnail">
				<img id="profile-img"

						<%if (otherLocalImg == 1) { %>
					 src="/img/<%=otherImgPath%>"
						<% } %>

						<%if (otherLocalImg == 0) { %>
					 src="<%=otherImgPath%>"
						<% } %>


					 alt="avatar">
				<div class="caption">
					<h3 id="profile-name"><%= dispName %></h3>
					<p id="profile-email"><%= email %></p>
					<p id="profile-description"><%= descr %></p>
					<p id="profile-classes"><%= courses %></p>

					<!-- Admin & Super admin privelages -->
                    <p id="profile-height"></p>
                    <p id="profile-width"></p>
                    <p id="profile-mostViewed"></p>
                       <p id="profile-device"></p>
                       <p id="profile-ip"></p>
                       <p id="profile-os"></p>
                       <p id="profile-location"></p>
                    <p id="admin-privelages" class="btn-toolbar"></p>

				</div>
			</div>

		</div>
	</div>
</div>
</div>

<!-- RIGHT SIDE OF THE PAGE -->
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" style="margin-top: 50px;">
		<div>
			<h1>Ratings:</h1>
			<h2 class="col-lg-6">Tutor Rating:</h2>
			<h2 class="col-lg-6">Tutee Rating:</h2>

			<input id="input-2" class="rating tutor-rating" data-readonly="true" data-size="sm" data-show-clear="false">
			<input id="input-2" class="rating tutee-rating" data-readonly="true" data-size="sm" data-show-clear="false">

		</div>

		<div>
			<h1>Messages: </h1>

			<div id="messages">
				<div class="panel panel-default" id="">
				 	<div class="panel-heading">
				 		&nbsp;
				 		<h3 class="panel-title" style="float: left">Sean Han</h3>
				 		<h3 class="panel-title" style="float: right">Time:</h3>
				 	</div>

				 	<div class="panel-body">
				    	Message here
					</div>
				</div>

				<div class="panel panel-default" id="">
				 	<div class="panel-heading">
				 		&nbsp;
				 		<h3 class="panel-title" style="float: left">Sean Han</h3>
				 		<h3 class="panel-title" style="float: right">Time:</h3>
				 	</div>

				 	<div class="panel-body">
				    	<p>Message here</p>
				    	<button type='button' class='btn btn-danger btn-msg'>Delete Message</button>
					</div>

					

				</div>
			</div>

		</div>
</div>

<script>
    var messages = <%- messages %>;
    for (var i = 0; i < messages.length; i++) {
        $('#messages').prepend("<div class='panel panel-default' id='" + messages[i]._id + "'>" + "<div class='panel-heading'>&nbsp;<h3 class='panel-title' style='float: left'>" + messages[i].sender.email + "</h3><h3 class='panel-title' style='float: right'>" + messages[i].creationTime + "</h3></div><div class='panel-body'><p>" + messages[i].content + "</p><button type='button' class='btn btn-danger btn-msg'>Delete Message</button></div></div>");
    }

    // Splitting column for Tutor & Tuttee rating 
    $( document ).ready(function() {
    	$( ".star-rating" ).addClass( "col-lg-6" );
	});

	// Deleting a message
    $('body').on('click', '.btn-msg', function() {

        message = $(this).parents("div:first");
        console.log($(this).parents("div:first").attr('id'));

        $.ajax({
            type: "DELETE",
            url: "/message/" + $(this).parents("div:first").attr('id'),
            success: function(data) {
                message.remove();
            },
            fail: function() {
                $('.main').html("comment cannot be removed");
            }
        });
    });

	// Set the default star rating -> Get data from DB
	tutorRating = ""
	tuteeRating = ""
	$(".tutor-rating").val(tutorRating);
	$(".tutee-rating").val(tuteeRating); 
    
</script>


</body>

