<% include ../partials/head %>

<% include ../partials/nav_logged_in %>


<body>

<div class="container-fluid">
	<div class="row">
		<!-- USER PROFILE -->
		<div class="col-sm-3 col-md-3 sidebar">
			<!--<div class="col-xs-6 col-sm-3 placeholder">-->
			<!--<img data-src="" class="img-responsive" alt="Profile picture thumbnail">-->
			<!--</div>-->
			<h1>Profile</h1>
			<div class="thumbnail">
				<img id="profile-img"></img>
				<div class="caption">
				<img id="profile-img"

						<%if (otherLocalImg == 1) { %>
					 src="/img/<%=otherImgPath%>"
						<% } %>

						<%if (otherLocalImg == 0) { %>
					 src="<%=otherImgPath%>"
						<% } %>


					 alt="avatar">
				<div class="caption">
					<h3 id="profile-name"><%= otherName %></h3>
					<p id="profile-email"><%= otherEmail %></p>
					<p id="profile-description"><%= descr %></p>
					<p id="profile-classes"><%= otherCourses %></p>

					<!-- Admin & Super admin privelages -->
                    <p id="profile-height"></p>
                    <p id="profile-width"></p>
                    <p id="profile-mostViewed"></p>
                       <p id="profile-device"></p>
                       <p id="profile-ip"></p>
                       <p id="profile-os"></p>
                       <p id="profile-location"></p>
                    <p id="admin-privelages" class="btn-toolbar"></p>

				</div>
			</div>

		</div>
	</div>
</div>
</div>

<!-- RIGHT SIDE OF THE PAGE -->
<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" style="margin-top: 50px;">
		<div>
			<h1>Ratings:</h1>

			<div class="col-lg-6">
				<h2>Tutor Rating:</h2>
				<input id="input-1" value="2" class="rating tutor-rating" data-show-clear="false" data-show-caption="true" data-min="0" data-max="5" data-step="0.1" data-size="sm">
			</div>

			<div class="col-lg-6">
				<h2>Tutee Rating:</h2>
				<input id="input-2" value="3" class="rating tutee-rating" data-show-clear="false" data-show-caption="true" data-min="0" data-max="5" data-step="0.1" data-size="sm">
			</div>

			<script>
				// Set the default star rating -> Get data from DB
				tutorRating = <%- otherTutorRatingAvg %>
				tuteeRating = <%- otherTuteeRatingAvg %>
	    		$(".tutor-rating").val(tutorRating);
	    		$(".tutee-rating").val(tuteeRating);

	    		console.log($("#profile-email").text());
	    		var email = $("#profile-email").text();

	    		// Trigger an event when rating is changed
	    		$('#input-1').on('rating.change', function(event, value, caption) {

		        	$.ajax({
		                type: "POST",
		                url: "/user/" + email + "/rating",
		                timeout: 2000,
		                dataType: 'json',
		                data: {rating: value, rateType: "tutor"},
		                success: function(data) {
		                	$('.alert').remove();
		                	$('.main').prepend("<div class='alert alert-success' role='alert'>Successful tutor rating!</div>");
		                },
		                fail: function() {

		                }
		            });
				    
				});

	    		$('#input-2').on('rating.change', function(event, value, caption) {

		        	$.ajax({
		                type: "POST",
		                url: "/user/" + email + "/rating",
		                timeout: 2000,
		                dataType: 'json',
		                data: {rating: value, rateType: "tutee"},
		                success: function(data) {
		                    $('.alert').remove();
		                	$('.main').prepend("<div class='alert alert-success' role='alert'>Successful tutee rating!</div>");
		                },
		                fail: function() {

		                }
		            });

				});
    		</script>
		</div>

		<div id="messages" style="margin-top:200px;">
			<h1>Send Message: </h1>

			<div class='input-group' style="margin:20px 0 20px 0;"><input id='response' type='text' class='form-control' placeholder='Send your message...'><span class='input-group-btn'><button class='btn btn-default glyphicon glyphicon-comment' type='button'></button></span></div>

			<script>
 				/* Sending a message to someone */
        		$('body').on('click', '.glyphicon-comment', function() {
		        	$.ajax({
		                type: "POST",
		                url: "/user/" + $("#profile-email").text() + "/message",
		                timeout: 2000,
		                dataType: 'json',
		                data: {message: $(this).parent().prev('#response').val()},
		                success: function(data) {

		                	$('.main').prepend("<div class='alert alert-success' role='alert'>Message Successfully Sent!</div>");
		                },
		                fail: function() {
		                }
		            });


        		});

			</script>
		</div>
	<div id="leave_a_tutor_review" style="margin-top:200px;">
		<h1 id="forTutor">Leave a Tutor Review: </h1>
		<div class='input-group' style="margin:20px 0 20px 0;">
			<input id='response2' type='text' class='form-control' placeholder='How was he/she as a tutor?'>
			<span class='input-group-btn'>
				<button id="btnForTutor" class='btn btn-default glyphicon glyphicon-envelope' type='button'>
				</button>
			</span>
		</div>

		<h1 id="forTutee"> Leave a Tutee Review: </h1>
		<div class='input-group' style="margin:20px 0 20px 0;">
			<input id='response3' type='text' class='form-control' placeholder='How was he/she as a tutee?'>
			<span class='input-group-btn'>
				<button id="btnForTutee" class='btn btn-default glyphicon glyphicon-envelope' type='button'>
				</button>
			</span>
		</div>

		<script>
			/* Sending a message to someone */
			$('body').on('click', '.glyphicon-envelope', function() {

				var reviewText = $(this).parents(".input-group-btn").siblings("input").val()
				console.log(reviewText);
				var isTutor = $(this).attr("id") == "btnForTutor";
				console.log(isTutor);
				$.ajax({
					type: "POST",
					url: "/user/" + $("#profile-email").text() + "/review",
					timeout: 2000,
					dataType: 'json',
					data: {reviewText: reviewText, isTutor: isTutor},
					success: function(data) {
						$('.alert').remove();
						$('.main').prepend("<div class='alert alert-success' role='alert'>Review Sent!</div>");
					},
					fail: function() {
					}
				});


			});

		</script>
	</div>
</div>

<script>

    // Splitting column for Tutor & Tuttee rating 
    $( document ).ready(function() {
    	$( ".star-rating" ).addClass( "col-lg-6" );
	});
    
</script>


</body>

